body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.theme-showcase > .jumbotron {
	background-image: url("../res/ny.jpg");
	background-size: 100%;
	background-position: center; 
	background-repeat: no-repeat;
	color: white;
}

.theme-showcase .row img {
  width: 125px;
  height: 125px;
}

.theme-showcase .row img.opacity3 {
	opacity: .3;
}

footer {
	margin-top: 10%;
	text-align: center;
}

footer p.end {
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}
