<a id="contact"></a>
<div class="page-header">
	<h2>Did you do the social thing?</h2>
</div>
<div class="row social">
	<a href="https://www.linkedin.com/in/jelledetaeye" target="_blank"><img src="res/linkedin.png" alt="LinkedIn" /></a>
	<a href="https://github.com/jelledetaeye" target="_blank"><img src="res/github.png" alt="GitHub" /></a>
	<a href="https://bitbucket.org/jelledetaeye" target="_blank"><img src="res/bitbucket.png" alt="BitBucket" /></a>
	<a href="https://twitter.com/jelledetaeye" target="_blank"><img src="res/twitter.png" alt="Twitter" /></a>
	<a href="https://medium.com/@jelledetaeye" target="_blank"><img src="res/medium.png" alt="Medium" /></a>
	<a href="https://instagram.com/jelledetaeye/" target="_blank"><img src="res/instagram.png" alt="Instagram" /></a>
	<img src="res/facebook.png" alt="Facebook" class="opacity3" />
</div>
