.starter-template {
	padding: 80px 15px 0px 15px;
	text-align: center;
}

.theme-showcase {
	.dropdown-menu {
		position: static;
		display: block;
		margin-bottom: 20px;
	}

	.section {
		padding-top: 25px;
	}

	> p > .btn {
		margin: 5px 0;
	}

	.navbar .container {
		width: auto;
	}
	.social img,  .profile-picture img {
		width: 125px;
		height: 125px;
	}

	.row img.opacity3 {
		opacity: .3;
	}

	p {
		a:active, a:hover, a:visited, a:link {
			text-decoration: none;
		}
	}
}

footer {
	text-align: center;

	p.end {
		font-family: 'Kaushan Script', cursive;
		font-size: 20px;
	}
}
