<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

		<div id="headerSection"></div>

		<div class="page-content">
      <div class="container theme-showcase">
				<div class="starter-template">
					<h1>Software Engineer by day, superhero by night</h1>
					<p class="lead">...sometimes I swim, bike and run.. for fun!</p>
				</div>

				<div id="aboutSection" class="section"></div>
				<div id="blogSection" class="section"></div>
				<div id="projectsSection" class="section"></div>
				<div id="socialSection" class="section"></div>
				<div id="raceResultsSection" class="section"></div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
