---
layout: default
---
<div class="starter-template">
	<h1>Software Engineer by day, superhero by night</h1>
	<p class="lead">...sometimes I swim, bike and run.. for fun!</p>
</div>

<div id="aboutSection" class="section">{% include about.html %}</div>
<div id="blogSection" class="section">{{ content }}</div>
<div id="projectsSection" class="section">{% include projects.html %}</div>
<div id="socialSection" class="section">{% include social.html %}</div>
<div id="raceResultsSection" class="section">{% include race-results.html %}</div>
